html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.tree ul {
    list-style-type: none;
}

li.folder::before {
    content: "+ ";
    cursor: pointer;
}

.tree .folder.closed::before {
    content: "- ";
}

.folder {
    cursor: pointer;
}

.hidden {
    display: none;
}

.tree {
    width: 50%;
    display: inline-block;
}

#file-content {
    position: absolute;
    left: 55%;
    top: 15%;
}

#file-content1 {
    width: 49%;
    position: relative;
    vertical-align: top;
    display: inline-block;
}

.NavPannel {
    width: 100%;
}

.NavEllement{
    font-size: 12px;
}

