<ul>
    @foreach (var files in Model.ExplorerViewModel.files)
    {
        if (files.foldercode == Model.RootFolder.id - 1)
        {
            <li>
                <span class="file" data-fileid="@files.id" title="@files.filedescription">@files.filename</span>
            </li>
        }
    }
</ul>
