@model ExplorerViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="tree">

    <ul>
        @foreach (var rootFolder in Model.folders.Where(f => f.parentfolderid == 0))
        {
            var combinedModel = new { ExplorerViewModel = Model, RootFolder = rootFolder };

            <li>
                @Html.Partial("_Folders_Partial", combinedModel)
            </li>
        }
    </ul>
</div>






<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const folderElements = document.querySelectorAll(".folder");

        folderElements.forEach(function (folderElement) {
            folderElement.addEventListener("click", function () {
                // Находим следующий элемент с классом "folder-content"
                const contentElement = folderElement.nextElementSibling;

                // Переключаем класс "hidden" этого элемента
                if (contentElement && contentElement.classList.contains("folder-content")) {
                    contentElement.classList.toggle("hidden");
                }
            });
        });
    });
</script>
