@model ExplorerViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="tree">

    <ul>
        @foreach (var rootFolder in Model.folders.Where(f => f.parentfolderid == 0))
        {
            var combinedModel = new { ExplorerViewModel = Model, RootFolder = rootFolder };

            <li>
                @Html.Partial("_Folders_Partial", combinedModel)
            </li>
        }
    </ul>
</div>

<div id="file-content1">

    <span> Содержимое файла </span>

</div>

<div id="file-content">

    <span> </span>

</div>





<script>
    document.addEventListener("DOMContentLoaded", function () {
        const folderElements = document.querySelectorAll(".folder");

        folderElements.forEach(function (folderElement) {
            folderElement.addEventListener("click", function () {
                // Находим следующий элемент с классом "folder-content"
                const contentElement = folderElement.nextElementSibling;

                // Переключаем класс "hidden" этого элемента
                if (contentElement && contentElement.classList.contains("folder-content")) {
                    contentElement.classList.toggle("hidden");
                }
            });
        });
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const fileLinks = document.querySelectorAll(".file");
        const fileContentContainer = document.getElementById("file-content");

        fileLinks.forEach(function (link) {
            link.addEventListener("click", function () {
                const fileId = link.getAttribute("data-fileid");

                // Выполните AJAX-запрос на ваш контроллер для получения содержимого файла
                fetch("/Explorer/GetFileContent?id=" + fileId)
                    .then(response => response.text()) // Получите текст ответа
                    .then(data => {
                        fileContentContainer.innerHTML = data; // Отобразите содержание файла
                    })
                    .catch(error => console.error("Ошибка при загрузке файла: " + error));
            });
        });
    });
</script>






