@model ExplorerViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="NavPannel">
    <button class="NavEllement" id="CreateFolder"> Создать папку</button>
    <button class="NavEllement" id="DeleteFolder"> Удалить папку</button>
    <button class="NavEllement" id="ShowUploadFormButton"> Загрузить файл</button>


    <form class="hidden" id="CreateFolderForm" asp-action="CreateFolder" asp-controller="Explorer" method="post">
        <div class="form-group">
            <label asp-for="folders[0].foldername" class="control-label">Введите имя папки</label>
            <input asp-for="folders[0].foldername" class="form-control" />
            <span asp-validation-for="folders[0].foldername" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Создать папку</button>
    </form>

    <form class="hidden" id="UploadFile" asp-action="UploadFile" asp-controller="Explorer" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="files[0].filename" class="control-label">Выберите файл</label>
            <input asp-for="files[0].filename" type="file" class="form-control" name="file" />
        </div>
        <button type="submit" class="btn btn-primary">Загрузить файл</button>
    </form>

</div>

<!-- Окно подтверждения удаления папки -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Подтвердите удаление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить эту папку?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="confirmDeleteButton">Удалить</button>
            </div>
        </div>
    </div>
</div>

<!-- Окно подтверждения удаления файла -->
<div class="modal fade" id="deleteConfirmationModalFile" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabelFile">Подтвердите удаление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить эту файл?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="confirmDeleteFileButton">Удалить</button>
            </div>
        </div>
    </div>
</div>



<div class="tree">

    <ul>
        @foreach (var rootFolder in Model.folders.Where(f => f.parentfolderid == 0))
        {
            var combinedModel = new { ExplorerViewModel = Model, RootFolder = rootFolder };

            <li>
                @Html.Partial("_Folders_Partial", combinedModel)
            </li>
        }
    </ul>
</div>

<div id="file-content1">

    <span> Содержимое файла </span>

</div>

<div id="file-content">

    <span> </span>

</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}




<!-- Функция для открытия/скрытия содержимого папки -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const folderElements = document.querySelectorAll(".folder");

        folderElements.forEach(function (folderElement) {
            folderElement.addEventListener("click", function () {
                // Находим следующий элемент с классом "folder-content"
                const contentElement = folderElement.nextElementSibling;

                // Переключаем класс "hidden" этого элемента
                if (contentElement && contentElement.classList.contains("folder-content")) {
                    contentElement.classList.toggle("hidden");
                }
            });
        });
    });
</script>


<!-- Функция для получения содержимого файла -->
<script>
    // Переключаем класс "hidden" этого элемента
    document.addEventListener("DOMContentLoaded", function () {
        const fileLinks = document.querySelectorAll(".file");
        const fileContentContainer = document.getElementById("file-content");

        fileLinks.forEach(function (link) {
            link.addEventListener("click", function () {
                const fileId = link.getAttribute("data-fileid");


                fetch("/Explorer/GetFileContent?id=" + fileId)
                    .then(response => response.text()) 
                    .then(data => {
                        fileContentContainer.innerHTML = data; 
                    })
                    .catch(error => console.error("Ошибка при загрузке файла: " + error));
            });
        });
    });
</script>


<!-- Функция скрытия формы создания папки-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var showFormButton = document.getElementById("CreateFolder");
        var myForm = document.getElementById("CreateFolderForm");

        showFormButton.addEventListener("click", function () {
            if (myForm.classList.contains("hidden")) {
                myForm.classList.remove("hidden");
            } else {
                myForm.classList.add("hidden");
            }
        });
    });
</script>

<!-- Функция скрытия формы загрузки файла-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var showFormButton = document.getElementById("ShowUploadFormButton");
        var myForm = document.getElementById("UploadFile");

        showFormButton.addEventListener("click", function () {
            if (myForm.classList.contains("hidden")) {
                myForm.classList.remove("hidden");
            } else {
                myForm.classList.add("hidden");
            }
        });
    });
</script>

<!-- Функция удаления папки -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var folderElements = document.querySelectorAll(".folder");
        var deleteButtons = document.querySelectorAll(".delete-button");
        var confirmDeleteButton = document.getElementById("confirmDeleteButton");
        var folderIdToDelete = null;
        // Обработка клика по папке для удаления
        folderElements.forEach(function (folderElement) {
            folderElement.addEventListener("click", function () {
                folderIdToDelete = folderElement.getAttribute("data-folderid");
                // Открываем модальное окно
                $('#deleteConfirmationModal').modal('show');
            });
        });
        // Обработка клика на кнопке "Удалить папку" и подтверждение удаления
        deleteButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                folderIdToDelete = button.getAttribute("data-folderid");
                console.log("folderIdToDelete:", folderIdToDelete);
                // Открываем модальное окно
                $('#deleteConfirmationModal').modal('show');
            });
        });
        // Обработка подтверждения удаления
        confirmDeleteButton.addEventListener("click", function () {
            if (folderIdToDelete) {
                // Выполнить AJAX-запрос на удаление папки
                console.log("folderIdToDelete:", folderIdToDelete);
                $.ajax({
                    url: "/Explorer/DeleteFolder",
                    type: "POST",
                    data: { id: folderIdToDelete },
                    success: function (result) {
                        location.reload(); // Обновление страницы
                    },
                    error: function (error) {
                        console.error("Ошибка при удалении папки: " + error);
                    }
                });
                $('#deleteConfirmationModal').modal('hide');
            }
        });
    });
</script>

<!-- Функция переименования папки--> 
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var folderElements = document.querySelectorAll(".folder");
        var deleteButtons = document.querySelectorAll(".delete-button");
        var confirmDeleteButton = document.getElementById("confirmDeleteButton");

        var folderIdToRename = null; // Добавляем переменную для хранения идентификатора папки для переименования
        var renameButton = document.getElementById("renameButton"); // Определяем кнопку "Переименовать папку"
        console.log("folderIdToRename:", folderIdToRename);


        // Обработка клика на кнопке "Переименовать папку"
        renameButton.addEventListener("click", function () {
            folderIdToRename = button.getAttribute("data-folderid");
            alert("folderIdToRename:", folderIdToRename);
            var newFolderName = prompt("Введите новое имя папки:");
            if (newFolderName) {
                // Выполняем AJAX-запрос для переименования папки
                fetch("/Explorer/RenameFolder", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    data: {id: folderIdToRename},
                })
                    .then(response => {
                        if (response.ok) {
                            return response.text(); // Получение ответа от сервера
                        }
                        throw new Error("Ошибка при переименовании папки");
                    })
                    .then(data => {
                        // Обработка успешного переименования
                    })
                    .catch(error => {
                        console.error(error);
                        // Обработка ошибки
                    });
            }
        });


    });
</script>

<!-- Функция удаления файла -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var fileElements = document.querySelectorAll(".file");
        var deleteButtons = document.querySelectorAll(".delete-file-button");
        var confirmDeleteButton = document.getElementById("confirmDeleteFileButton");
        var fileIdToDelete = null;
        // Обработка клика по файлу для удаления
        fileElements.forEach(function (fileElement) {
            fileElement.addEventListener("click", function () {
                fileIdToDelete = fileElement.getAttribute("data-fileid");
                // Открываем модальное окно
                $('#deleteConfirmationModalFile').modal('show');
            });
        });
        // Обработка клика на кнопке "Удалить файл" и подтверждение удаления
        deleteButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                fileIdToDelete = button.getAttribute("data-fileid");
                console.log("fileIdToDelete:", fileIdToDelete);
                // Открываем модальное окно
                $('#deleteConfirmationModalFile').modal('show');
            });
        });
        // Обработка подтверждения удаления
        confirmDeleteFileButton.addEventListener("click", function () {
            if (fileIdToDelete) {
                // Выполнить AJAX-запрос на удаление папки
                console.log("fileIdToDelete:", fileIdToDelete);
                $.ajax({
                    url: "/Explorer/DeleteFile",
                    type: "POST",
                    data: { id: fileIdToDelete },
                    success: function (result) {
                        location.reload(); // Обновление страницы
                    },
                    error: function (error) {
                        console.error("Ошибка при удалении файла: " + error);
                    }
                });
                $('#deleteConfirmationModalFile').modal('hide');
            }
        });
    });
</script>

<!-- Функция скачивания файла -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var downloadFileButtons = document.querySelectorAll(".download-file-button");

        downloadFileButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                var fileId = button.getAttribute("data-fileid");
                var fileName = button.getAttribute("data-filename");

                // Fetch API:
                fetch("/Explorer/DownloadFile?id=" + fileId, {
                    method: "GET",
                })
                    .then(response => {
                        if (response.ok) {
                            console.log(fileName);
                            return response.blob(); // Получение содержимого файла в виде Blob
                        } else {
                            // Обработка ошибки получения файла.
                        }
                    })
                    .then(blob => {
                        // Создание ссылки для скачивания файла и автоматический запуск скачивания
                        var url = window.URL.createObjectURL(blob);
                        var a = document.createElement("a");
                        a.href = url;
                        a.download = fileName; // Имя файла
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url);
                    })
                    .catch(error => {
                        // Обработка ошибки скачивания файла.
                    });
            });
        });
    });
</script>

<!-- Функция переименования файла -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var folderElements = document.querySelectorAll(".file");
        var deleteButtons = document.querySelectorAll(".delete-button");
        var confirmDeleteButton = document.getElementById("confirmDeleteButton");

        var fileIdToRename = null; // Добавляем переменную для хранения идентификатора папки для переименования
        var renameButton = document.getElementById("renameButton"); // Определяем кнопку "Переименовать папку"


        // Обработка клика на кнопке "Переименовать папку"
        renameButton.addEventListener("click", function () {
            folderIdToRename = button.getAttribute("data-fileid");
            var newFolderName = prompt("Введите новое имя файла:");
            if (newFolderName) {
                // Выполняем AJAX-запрос для переименования папки
                fetch("/Explorer/RenameFile", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    data: { id: fileIdToRename },
                })
                    .then(response => {
                        if (response.ok) {
                            return response.text(); // Получение ответа от сервера
                        }
                        throw new Error("Ошибка при переименовании папки");
                    })
                    .then(data => {
                        // Обработка успешного переименования
                    })
                    .catch(error => {
                        console.error(error);
                        // Обработка ошибки
                    });
            }
        });


    });
</script>

